<!-- <!DOCTYPE html>
<html>
<head>
  <title>File Upload</title>
</head>
<body>
  <h2>Upload a File to Send mails</h2>
  <form method="post" enctype="multipart/form-data" action="{% url 'sending_mails' %}" >
    {% csrf_token %}
    <label for="file">Folder Path:</label>
    <input type="text" name="file" id="file">
    <br><br>

    <label for="email">Sender Email:</label>
    <input type="text" id="email" name="email"><br><br>

    <label for="password">Password (KEY):</label>
    <input type="password" id="password" name="password"><br><br>

    <label for="subject">Subject:</label>
    <input type="text" id="subject" name="subject"><br><br>

    <input type="submit" value="Send Mails">
  </form>
</body>
</html> -->

<!DOCTYPE html>
<html>
<head>
  <title>File Upload</title>
</head>
<body>
  <h2>Upload a ZIP File to Send mails</h2>
  <form method="post" enctype="multipart/form-data" action="{% url 'sending_mails' %}" >
    {% csrf_token %}
    <label for="zip_file">ZIP File:</label>
    <input type="file" name="zip_file" id="zip_file">
    <br><br>

    <label for="email">Sender Email:</label>
    <input type="text" id="email" name="email"><br><br>

    <label for="password">Password (KEY):</label>
    <input type="password" id="password" name="password"><br><br>

    <label for="subject">Subject:</label>
    <input type="text" id="subject" name="subject"><br><br>

    <input type="submit" value="Send Mails">
  </form>
</body>
</html>
